/* Colors */

.alimentation{
    color: #B14145;
} 

.services{
    color: #2E6095;
}

.beaute--sante-et-bien-etre{
    color: #FF7677;
}

.restauration{
    color: #FFB838;
}

.maison-et-deco{
    color: #3FA8B3;
}

.loisirs-et-divertissements{
    color: #AED75D;
}

/* Display */

ul.categories-collection{
  margin: 50px 40px 20px;
}

ul.categories-collection li {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px;
    border: .1rem solid grey;
    border-radius: 0.5rem;
    cursor: pointer;
}

ul.categories-collection li.active{
    color: white;
    background-color: grey;
    opacity: .7;
    transition: .5s;
}

ul.categories-collection li:not(:last-of-type){
    margin-right: 1rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #FEE5A5;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
  color: #486D87;
  text-transform: uppercase;
}

.header > nav ul {
  margin: 0;
  display: flex;
  align-items: center;
}

.header > nav ul li{
  display: inline-block;
  margin-bottom: 0;
}

.header > nav ul li:not(:last-child){
  margin-right: 1.5rem;
}

.header > nav ul li a {
  color: #486D87;
}

.customers-card{
  display: inline-block;
}

.customers-collection li{
  list-style: none;
  padding: 20px 40px;
}
